* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* outline: 2px solid red; */
  list-style: none;
  text-decoration: none;
}

/* .container {
  min-height: 100vh;
  padding: 0 500px;
} */

body {
  min-height: 100vh;
  /* padding: 0 500px; */
}

img {
  height: 110px;
  width: 110px;
}

a {
  color: white;
}
.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.menu .title {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  display: flex;
  gap: 30px;
  font-size: 18px;
  color: #e5e7eb;
}

.header-container {
  padding: 0px 200px;
  background-color: #1f2937;
  color: white;
}

.header-body {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.header-body img {
  width: 200px;
}

.header-body .title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900px;
}

.first-container {
  padding: 0px 600px;
}

.first-container .title {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  flex-shrink: 1;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  text-align: center;
  width: 110px;
  flex-shrink: 0;
}

.second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
}

.author {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.third-container {
  /* display: flex;
  justify-content: space-between; */
  /* padding: 80px; */
  padding: 10 200px;
}

.banner {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 20px 80px;
  background-color: #3882f6;
}

button {
  padding: 0 20px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #1f2937;
  color: white;
}
