* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* outline: 2px solid red; */
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', serif;
}

body {
  min-height: 100vh;
}

img {
  height: 110px;
  width: 110px;
  border-radius: 5px;
}

.first-container img {
  border: 2px solid #215ed1;
}

a {
  color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.menu .title {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  display: flex;
  gap: 30px;
  font-size: 18px;
  color: #e5e7eb;
}

.header-container {
  padding: 0px 500px;
  background-color: #1f2937;
  color: white;
}

.header-body {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.header-body img {
  width: 250px;
  height: 180px;
}

.header-body .title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.header-text > p {
  font-size: 18px;
  color: #e5e7eb;
}

.header-body button {
  color: white;
  padding: 5px 15px;
  margin-top: 10px;
}

.first-container {
  padding: 30px 600px;
}

.first-container .title {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

.card {
  text-align: center;
  width: 110px;
  flex-shrink: 0;
}

.second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
}

.author {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 20px;
}

.third-container {
  display: flex;
  justify-content: space-around;
  margin: 50px 500px;
  border-radius: 5px;
  color: white;
  background-color: #3882f6;
}

.banner {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
}

.box {
  display: flex;
  /* padding: 50px; */
}

button {
  display: flex;
  align-self: center;
  padding: 5px 15px;

  border-color: white;
  border-radius: 5px;
  color: white;
  border-color: white;
  background-color: #3882f6;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #1f2937;
  color: white;
}
